@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap');

:root {
  --bg-color: #07030d;
  --bg-background: linear-gradient(#2b1055, #7597de);
  --light-color: #ddd;
  --black: #000;
  --border: solid 1px #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: var(--black);
  color: var(--light-color);
  min-height: 100vh;
}

a {
  color: var(--light-color);
}

.container {
  max-width: 100%;
  width: 100%;
  margin: auto;
  font-size: 18px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 70px;
  width: 100vw;
  position: fixed;
  transition: 1s;
  z-index: 1;
}

header nav {
  height: 70px;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  letter-spacing: 2px;
  font-size: 1.7rem;
}

nav .menu {
  display: flex;
  list-style-type: none;
}

nav .menu li:not(:last-child) {
  margin-right: 20px;
}

nav .menu li {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .menu li a {
  padding: 8px;
}

nav .menu .selecionado {
  background-color: var(--light-color);
}

nav .menu .selecionado a {
  color: var(--black);
}

header a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
}

section {
  position: relative;
  width: 100vw;
  min-height: 600px;
  display: flex;
  align-items: center;
}

.home::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #000, transparent);
}

.home h1 {
  margin: auto;
  font-size: 4em;
  position: relative;
}

section.home {
  position: relative;
  width: 100vw;
  height: 750px;
}


.home img.bg {
  width: 100vw;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -10;
  bottom: 0;
}

.home img.sky {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -15;
  top: 0;
}

.home img.moon {
  display: none;
  position: absolute;
  object-fit: cover;
  top: 50px;
  left: 300px;
  width: 180px;
  height: 180px;
  z-index: -7;
}

.home img.meteor {
  display: none;
  position: absolute;
  object-fit: cover;
  top: 300px;
  right: 300px;
  width: 150px;
  height: 200px;
  z-index: 3;
  transform: rotateX(140deg);
}

.home img.lmountain {
  position: absolute;
  object-fit: cover;
  left: 0px;
  bottom: 0;
  height: 500px;
  width: 980px;
  z-index: -1;
}

.home img.midMountain {
  position: absolute;
  object-fit: cover;
  z-index: -11;
  bottom: 120px;
  height: 300px;
  right: 0;
}

.home img.earth {
  position: absolute;
  object-fit: cover;
  width: 190px;
  height: 190px;
  left: calc(50vw - 100px);
  bottom: 300px;
  z-index: -12;
}

.container p {
  text-align: center;
}

header .menu {
  display: none;
}

.container {
  padding: 20px;
}

@media(min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media(min-width: 768px) {
 .container {
    max-width: 720px;
  }
  header .menu {
    display: flex;
  }
  .home img.meteor {
    display: block;
  }

}

@media(min-width: 992px) {
 .container {
    max-width: 960px;
  }
  .home img.moon {
    display: block;
  }
}

@media(min-width: 1200px) {
 .container {
    max-width: 1140px;
  }
}
